img {max-width: 100%;}

body {margin: 0;}

.container {background-color: lightpink;
            height: 100vh;
            display:flex;
            justify-content: space-evenly;
            align-items: center;}

.circle {background-color: mediumpurple;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        animation-name: pulse;
        animation-duration: 5s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        }

@keyframes pulse {
    0% { background-color: hotpink; }
    50% { background-color: lavenderblush; }
    100% { background-color: hotpink; }
}

.square {background-color: mediumpurple;
        width: 100px;
        height: 100px;
        }